@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid #000;
    padding: 8.5px;
    text-align: center;
}

thead {
    background-color: #4f96fa;
}

th {
    color: #fff;
    font-weight: bold;
}