@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 500px;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    padding: 8px;
    border: 1px solid #000;
}

tbody > tr:nth-child(even) {
    background-color: #b8fab8;
}

thead, tfoot {
    background-color: green;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: underline;
}

caption {
    padding: 8px;
    background-color: #0eac0e;
    color: #fff;
    font-weight: 600;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}